.main-pa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

/*  ⇩⇩⇩⇩⇩⇩⇩⇩⇩ CIMA ⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩  */
.container-cima-pa{
    margin:3vh 0px 0px 320px;
    width: 60%;
    height: 40vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
    border:none;
    border-radius: 15px;
    outline: none;
    flex-direction: column; 
    overflow: auto; 
}

.nasdaq-logo{
    width: 153px;
    height: 40px;
}

.sub-titulo-nasdaq{
    font-weight: 700;
    font-size: 21px;
}

.texto-nasdaq{
    font-weight: 400;
    font-size: 20px;
    width: 33vw;
    height: 10vh;
    text-align: justify;
}





/*  ⇩⇩⇩⇩⇩⇩⇩⇩⇩ BAIXO ⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩⇩  */
.container-baixo-pa{
    margin:20px 0px 3vh 320px;
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
    border:none;
    border-radius: 15px;
    outline: none;
    flex-direction: column;  
}

.stock{
    color: #ffffffd0;
    box-sizing: border-box;
    width: 210px;
    height: 130px;
    top: 385px;
    background: #06081D;
    border: 1px solid #ffffff;
    border-radius: 16px;
    margin-bottom: 20px;
}

.stock:hover{ 
    transition: all 0.7s;
    font-weight: 600;
    color: #ffffffd0;
    transform: scale(1.13);
    cursor: pointer;
    filter: drop-shadow(10px 10px 5px rgba(0,0,0,.5));
}
