.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 15%;
    top: 0px;
    background: linear-gradient(89.98deg, rgba(0, 0, 0, 0.52) 0.59%, rgba(0, 0, 0, 0.696) 25.96%, rgba(0, 0, 0, 0.8) 49.96%, rgba(0, 0, 0, 0.696) 74.62%, rgba(0, 0, 0, 0.52) 99.98%);
}

.logo{  
    margin-top: 0.8vh;
    height: 100%; 
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container{
    margin-top: 8%;
    width: 40vw;
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b2b2b2a2;
    border:none;
    border-radius: 15px;
    outline: none;
    flex-direction: column;    
}