@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.container-news {
    display: flex;
    flex-direction: column;
}

.news-h3 {
    margin: 6vh 0 3vh 6vw;
    text-align: center;
    font-size: 40px;
}

.single-news {
    text-decoration: none;
    color: inherit;
}

.news {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    margin-left: 6vw;
}

.single-news {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 70%;
    background-color: rgba(234, 234, 234, 0.531);
    border: 1px solid rgb(216, 214, 214);
    padding: 3vw;
    margin: 2vw;
    transition: transform .2s;
}

.single-news:hover {
    transform: scale(1.1);
}

.img-news {
    width: 30vw;
}

.text {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1em 0 0 1em;
}

.news-title {
    font-weight: 700;
    font-size: 30px;
}

.news-subtitle {
    font-size: 20px;
    margin: .5em 0 0 1em;
}