@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.nav-menu-items {
    width: 100%;
    padding: 0;
}

.navbar {
    background-color: #000000;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #000000;
    width: 320px;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    flex-direction: column;
    align-items: center;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    height: 70px;
    margin: 0;
    padding: 0;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    transition: .6s;
    margin: 0;
}

.nav-text a:hover {
    background-color: #FFC600;
    color: #000000;
    text-decoration: none;
}

/* .nav-text a:hover > svg{
    color: #000000;
} */

.navbar-toggle {
    background-color: #000000;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}

.logo-aurum {
    width: 10vw;
    margin: 3em 0 2em 0;
}

#account.nav-text {
    margin-top: 80%;
    height: 55px;
}

#logout.nav-text {
    height: 55px;
}

.icon {
    color: white;
}

a:hover .icon {
    color: black;
    transition: .6s;
}