.main-md{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container-dados{
    margin:0px 0px 0px 14%;
    width: 40vw;
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b2b2b2a2;
    border:none;
    border-radius: 15px;
    outline: none;
    flex-direction: column;    
}

.h1-meus-dados{
    margin: 5% 0px;
}

.editar-foto{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
}

.texto-e-input-md{
    width: 60%;
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content:center ;
}

.botao-salvar{
    width: 50%;
    padding: 16px 0px;
    margin: 25px;
    border:none;
    border-radius: 10px;
    outline: none;
    font-size: 12pt;
    background: #fce91b;
    font-weight: 800;
    cursor: pointer;
}